<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xd.lifepuzzle">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--    TODO ADD UTIL PERMISSIONS FOR START OF APP-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifePuzzle"
        tools:targetApi="31" >
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Log In"/>
        <activity
            android:name=".FirstInstallActivity"
            android:exported="false"
            android:label="First Install"/>
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:label="Sign Up"/>
        <activity
            android:name=".AddMemberActivity"
            android:exported="false"
            android:label="Add Member"/>
        <activity
            android:name=".EditMemberActivity"
            android:exported="false"
            android:label="Edit Member"/>
        <activity
            android:name=".MainMenuActivity"
            android:exported="false"
            android:label="Main Menu"/>
        <activity
            android:name=".SelectGameActivity"
            android:exported="false"
            android:label="Select Game Activity"/>
        <activity
            android:name=".PuzzleActivity"
            android:exported="false"
            android:label="Puzzle"/>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings"/>
        <activity
            android:name=".CaregiverActivity"
            android:exported="false"
            android:label="Caregiver Mode"/>
        <activity
            android:name=".MemoryActivity"
            android:exported="false"
            android:label="Memory"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>
